/* z-index order */

*{
  box-sizing: border-box;
  background-origin: border-box;
  margin: 0.1;
}

/* Basis for colour palette comes from 1bit Monitor Glow Palette by Polyducks */
/* https://lospec.com/palette-list/1bit-monitor-glow */
/* you're welcome to change the colours if you want or any of the other general page style */
:root{
  --col-01:#222323;
  --col-02:#f0f6f0;
  --col-03:#5252ff;
  --col-04:#b6e878;
  --border: 2px solid var(--col-01);
}

body{
  display: flex;
  flex-direction: column;
  background-color: var(--col-02);
  color: var(--col-01);
  padding: 2vw;
}

/*
  i've set up a basic flexbox for each recipe container - you might want to change some of the 
  flex properties here on the container or on the individual flex items depending on how you want to style them
*/
.RecipeBox{
  display: flex;
  flex-direction: column;
  border: var(--border);
  text-align: center;
  background-color: #b6e878;
  padding: 2dvw;
}

.FilterSection{
  background-color: #5252ff;
  color: #f0f6f0;
  padding: 2vw;
  font-size: x-large;
}

.FilterBox{
  font-size: medium;
}


.FilterButton{

}

.SelectedFilter{
  color: red;
}

.RecipeLink{
  color: #0303d8;
}
/* Increased the size of the name of each recipe, again for contrast.*/
.RecipeName{
  color: #5252ff;
  font-size: x-large;
}

.Author{

}
/* Gave each image another border inside each RecipeBox, to further sort each image and its information.*/
.RecipeImageContainer{
  border: var(--border);
  padding: 2mm;
}
/* Adjusted image properties so that they can fit on a mobile screen.*/
.RecipeImg{
  max-width: 100%;
  height: auto;
}

.Attribution{

}

.Publisher{

}

.Cuisine{

}

.TimeToCook{

}

.SkillLevel{

}

.Course{

}

.Servings{

}

.Dietary{

}

.DatePublished{

}

.DateUpdated{

}

.SpecialEquipment{

}
